.card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-header {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.select_control{
    width: 300;
    font-size: "18px";
    padding: "5px";
  }

.select-container {
    flex: 1;
    min-width: 0;
}
